{% extends 'base.html' %}

{% block title%}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html'%}
{% endblock %}

{% block content %}
{{ mixin_prob }}
        {% for i in news %}
            <div class="card mb-3">
              <div class="card-header">
                  Категория: <a href="{% url 'category' i.create.pk %}"> {{ i.create }}</a>
              </div>
              <div class="card-body">
                <div class="media">
                    {% if i.photo %}
                        <img src="{{ i.photo.url }}" alt="" width="350" class="mr-3">
                    {% else %}
                        <img src="https://picsum.photos/350/235/" alt="" class="mr-3">
                    {% endif %}
                    <div class="media-body">
                      <h5 class="card-title">{{ i.title }}</h5>
                      <p class="card-text">{{ i.content|safe|linebreaks|truncatewords:25 }}</p>
                      <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                    </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                {{ i.created_at|date:"Y-m-d H:i"}}
            </div>
        </div>
        {% endfor %}
{% endblock %}
